<a href="https://colab.research.google.com/github/amitgundad/newrepo/blob/master/1_Working_with_Big_Data_pySpark.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Install Spark, download datasets, create final dataframe.

In [ ]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q https://downloads.apache.org/spark/spark-2.4.8/spark-2.4.8-bin-hadoop2.6.tgz
!tar xf spark-2.4.8-bin-hadoop2.6.tgz
!pip install -q findspark

In [ ]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-2.4.8-bin-hadoop2.6"
import findspark
findspark.init()
from google.colab import files
from pyspark.sql import SparkSession, Window
from pyspark.sql.functions import isnan, when, count, col, lit, trim, avg, ceil
from pyspark.sql.types import StringType
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

In [ ]:
!wget https://s3.amazonaws.com/drivendata/data/7/public/4910797b-ee55-40a7-8668-10efd5c1b960.csv -O features.csv
!wget https://s3.amazonaws.com/drivendata/data/7/public/0bf8bc6e-30d0-4c50-956a-603fc693d966.csv -O labels.csv

--2021-12-06 11:37:47--  https://s3.amazonaws.com/drivendata/data/7/public/4910797b-ee55-40a7-8668-10efd5c1b960.csv
Resolving s3.amazonaws.com (s3.amazonaws.com)... 52.217.165.40
Connecting to s3.amazonaws.com (s3.amazonaws.com)|52.217.165.40|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 20069199 (19M) [text/csv]
Saving to: ‘features.csv’

features.csv        100%[===================>]  19.14M  7.02MB/s    in 2.7s

2021-12-06 11:37:51 (7.02 MB/s) - ‘features.csv’ saved [20069199/20069199]

--2021-12-06 11:37:51--  https://s3.amazonaws.com/drivendata/data/7/public/0bf8bc6e-30d0-4c50-956a-603fc693d966.csv
Resolving s3.amazonaws.com (s3.amazonaws.com)... 52.217.4.94
Connecting to s3.amazonaws.com (s3.amazonaws.com)|52.217.4.94|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1148327 (1.1M) [text/csv]
Saving to: ‘labels.csv’

labels.csv          100%[===================>]   1.09M  1.01MB/s    in 1.1s

2021-12-06 11:37:53 (1.01 MB/s) - ‘labels.csv’ saved [1148327/1148327]

In [ ]:
!ls

features.csv  sample_data		 spark-2.4.8-bin-hadoop2.6.tgz
labels.csv    spark-2.4.8-bin-hadoop2.6  spark-2.4.8-bin-hadoop2.6.tgz.1

In [ ]:
sc = SparkSession.builder.master("local[*]").getOrCreate()

In [ ]:
feature = sc.read.csv("features.csv", inferSchema=True, header=True)
label = sc.read.csv("labels.csv", inferSchema=True, header=True)

In [ ]:
print(feature.count())
print(label.count())
print(feature.columns)
print(label.columns)

59400
59400
['id', 'amount_tsh', 'date_recorded', 'funder', 'gps_height', 'installer', 'longitude', 'latitude', 'wpt_name', 'num_private', 'basin', 'subvillage', 'region', 'region_code', 'district_code', 'lga', 'ward', 'population', 'public_meeting', 'recorded_by', 'scheme_management', 'scheme_name', 'permit', 'construction_year', 'extraction_type', 'extraction_type_group', 'extraction_type_class', 'management', 'management_group', 'payment', 'payment_type', 'water_quality', 'quality_group', 'quantity', 'quantity_group', 'source', 'source_type', 'source_class', 'waterpoint_type', 'waterpoint_type_group']
['id', 'status_group']

In [ ]:
data = feature.join(label, on=("id"))
print(data.count())
print(data.columns)

59400
['id', 'amount_tsh', 'date_recorded', 'funder', 'gps_height', 'installer', 'longitude', 'latitude', 'wpt_name', 'num_private', 'basin', 'subvillage', 'region', 'region_code', 'district_code', 'lga', 'ward', 'population', 'public_meeting', 'recorded_by', 'scheme_management', 'scheme_name', 'permit', 'construction_year', 'extraction_type', 'extraction_type_group', 'extraction_type_class', 'management', 'management_group', 'payment', 'payment_type', 'water_quality', 'quality_group', 'quantity', 'quantity_group', 'source', 'source_type', 'source_class', 'waterpoint_type', 'waterpoint_type_group', 'status_group']

Change column type, drop duplicated rows, remove whitespacs.

In [ ]:
data.printSchema()
print(data.show(10))

root
 |-- id: integer (nullable = true)
 |-- amount_tsh: double (nullable = true)
 |-- date_recorded: timestamp (nullable = true)
 |-- funder: string (nullable = true)
 |-- gps_height: integer (nullable = true)
 |-- installer: string (nullable = true)
 |-- longitude: double (nullable = true)
 |-- latitude: double (nullable = true)
 |-- wpt_name: string (nullable = true)
 |-- num_private: integer (nullable = true)
 |-- basin: string (nullable = true)
 |-- subvillage: string (nullable = true)
 |-- region: string (nullable = true)
 |-- region_code: string (nullable = true)
 |-- district_code: string (nullable = true)
 |-- lga: string (nullable = true)
 |-- ward: string (nullable = true)
 |-- population: integer (nullable = true)
 |-- public_meeting: boolean (nullable = true)
 |-- scheme_management: string (nullable = true)
 |-- permit: boolean (nullable = true)
 |-- construction_year: integer (nullable = true)
 |-- extraction_type: string (nullable = true)
 |-- extraction_type_group: string (nullable = true)
 |-- extraction_type_class: string (nullable = true)
 |-- management: string (nullable = true)
 |-- management_group: string (nullable = true)
 |-- payment: string (nullable = true)
 |-- payment_type: string (nullable = true)
 |-- water_quality: string (nullable = true)
 |-- quality_group: string (nullable = true)
 |-- quantity: string (nullable = true)
 |-- quantity_group: string (nullable = true)
 |-- source: string (nullable = true)
 |-- source_type: string (nullable = true)
 |-- source_class: string (nullable = true)
 |-- waterpoint_type: string (nullable = true)
 |-- waterpoint_type_group: string (nullable = true)
 |-- status_group: string (nullable = true)

+----+----------+-------------------+------------+----------+---------+------------------+------------+--------------------+-----------+--------------------+----------------+-----------+-----------+-------------+------------+------------------+----------+--------------+-----------------+------+-----------------+---------------+---------------------+---------------------+-----------+----------------+--------------------+------------+-------------+-------------+------------+--------------+--------------------+--------------------+------------+--------------------+---------------------+--------------------+
|  id|amount_tsh|      date_recorded|      funder|gps_height|installer|         longitude|    latitude|            wpt_name|num_private|               basin|      subvillage|     region|region_code|district_code|         lga|              ward|population|public_meeting|scheme_management|permit|construction_year|extraction_type|extraction_type_group|extraction_type_class| management|management_group|             payment|payment_type|water_quality|quality_group|    quantity|quantity_group|              source|         source_type|source_class|     waterpoint_type|waterpoint_type_group|        status_group|
+----+----------+-------------------+------------+----------+---------+------------------+------------+--------------------+-----------+--------------------+----------------+-----------+-----------+-------------+------------+------------------+----------+--------------+-----------------+------+-----------------+---------------+---------------------+---------------------+-----------+----------------+--------------------+------------+-------------+-------------+------------+--------------+--------------------+--------------------+------------+--------------------+---------------------+--------------------+
| 148|       0.0|2013-01-24 00:00:00|      Others|       283|   Others|       39.12479531| -9.90253564|              Matuli|          0|Ruvuma / Southern...|          Temeke|      Lindi|         80|           53|     Ruangwa|           Mandawa|      1650|          true|              WUA|  true|             1975|        gravity|              gravity|              gravity|        wua|      user-group|           never pay|   never pay|         soft|         good|     unknown|       unknown|              spring|              spring| groundwater|communal standpip...|   communal standpipe|      non functional|
| 463|     220.0|2011-02-25 00:00:00|      Danida|      1710|   Others|35.382369700000005| -7.95123183|                none|          0|              Rufiji|          Msombe|     Iringa|         11|            1|Iringa Rural|            Maboga|       210|          true|              VWC|  true|             1983|        gravity|              gravity|              gravity|        vwc|      user-group|        pay annually|    annually|         soft|         good|      enough|        enough|              spring|              spring| groundwater|  communal standpipe|   communal standpipe|          functional|
| 471|       0.0|2011-04-14 00:00:00|        null|         0|     null|       33.85041604|   -8.830581|      Kwa Mzee Allan|          0|              Rufiji|        Kanisani|      Mbeya|         12|            7|     Mbarali|           Igurusi|         0|          true|              WUA|  true|                0|        gravity|              gravity|              gravity|        wua|      user-group|         pay monthly|     monthly|         soft|         good|insufficient|  insufficient|               river|          river/lake|     surface|  communal standpipe|   communal standpipe|          functional|
|1088|       0.0|2011-07-24 00:00:00|      Others|         0|      DWE|       30.85976415| -1.47894139|           Kwaedward|          0|       Lake Victoria|       Bigenyi A|     Kagera|         18|            1|     Karagwe|           Nkwenda|         0|          true|              VWC|  true|                0|        gravity|              gravity|              gravity|        vwc|      user-group|           never pay|   never pay|         soft|         good|         dry|           dry|              spring|              spring| groundwater|  communal standpipe|   communal standpipe|          functional|
|1342|       0.0|2012-10-22 00:00:00|World Vision|         0|   Others|       32.87190305|  -4.1340646|          Kwa Mdewha|          0|     Lake Tanganyika|            Sima|     Tabora|         14|            1|       Nzega|           Ikindwa|         0|          true|              WUG| false|                0|          other|                other|                other|        wug|      user-group|pay when scheme f...|  on failure|         soft|         good|      enough|        enough|        shallow well|        shallow well| groundwater|               other|                other|      non functional|
|1645|       0.0|2013-03-13 00:00:00|World Vision|      1340|   Others|       37.92052363| -4.17607628|         Kwa Fadhili|          0|             Pangani|      Kwanadenge|Kilimanjaro|          3|            3|        Same|            Mshewa|       120|          true|  Water authority|  true|             1995|        gravity|              gravity|              gravity|        vwc|      user-group|           never pay|   never pay|         soft|         good|      enough|        enough|               river|          river/lake|     surface|  communal standpipe|   communal standpipe|functional needs ...|
|1829|       0.0|2013-03-22 00:00:00|      Others|      1167|   Others|       36.97374778| -3.31678915|Mareu Primary School|          0|             Pangani|      Mareu Kati|     Arusha|          2|            7|        Meru|          King'ori|       390|          true|              WUA| false|             2012|        gravity|              gravity|              gravity|        wua|      user-group|             unknown|     unknown|         soft|         good|      enough|        enough|rainwater harvesting|rainwater harvesting|     surface|  communal standpipe|   communal standpipe|          functional|
|1959|       0.0|2011-12-03 00:00:00|      Others|      2178|   Others|       34.51323725| -9.29864752|Ofisi Ya Kijiji I...|          0|          Lake Nyasa|         Mlimani|     Iringa|         11|            4|      Njombe|             Igosi|        40|          true|              VWC|  true|             1998|        gravity|              gravity|              gravity|        vwc|      user-group|        pay annually|    annually|         soft|         good|insufficient|  insufficient|              spring|              spring| groundwater|  communal standpipe|   communal standpipe|          functional|
|2122|       0.0|2013-03-01 00:00:00|      Danida|       832|   DANIDA|       36.04780379|-10.69664046|             Shuleni|          0|Ruvuma / Southern...|       Kikwajuni|     Ruvuma|         10|            5|    Namtumbo|         Namabengo|       560|          true|              VWC|  true|             1982|        gravity|              gravity|              gravity| parastatal|      parastatal|pay when scheme f...|  on failure|         soft|         good|    seasonal|      seasonal|               river|          river/lake|     surface|  communal standpipe|   communal standpipe|          functional|
|2366|       6.0|2013-09-03 00:00:00|      Others|       765|      DWE|       37.49807609| -3.40287544|   Kwa Halima Bakari|          0|             Pangani|Barabar Ya Chini|Kilimanjaro|          3|            4| Moshi Rural|Kirua Vunjo Kusini|        20|          true|      Water Board|  true|             2008|        gravity|              gravity|              gravity|water board|      user-group|      pay per bucket|  per bucket|         soft|         good|      enough|        enough|              spring|              spring| groundwater|  communal standpipe|   communal standpipe|          functional|
+----+----------+-------------------+------------+----------+---------+------------------+------------+--------------------+-----------+--------------------+----------------+-----------+-----------+-------------+------------+------------------+----------+--------------+-----------------+------+-----------------+---------------+---------------------+---------------------+-----------+----------------+--------------------+------------+-------------+-------------+------------+--------------+--------------------+--------------------+------------+--------------------+---------------------+--------------------+
only showing top 10 rows

None

In [ ]:
data = data.withColumn('region_code', col('region_code').cast(StringType())).withColumn('district_code',col('district_code').cast(StringType()))
data.count

<bound method DataFrame.count of DataFrame[id: int, amount_tsh: double, date_recorded: timestamp, funder: string, gps_height: int, installer: string, longitude: double, latitude: double, wpt_name: string, num_private: int, basin: string, subvillage: string, region: string, region_code: string, district_code: string, lga: string, ward: string, population: int, public_meeting: boolean, recorded_by: string, scheme_management: string, scheme_name: string, permit: boolean, construction_year: int, extraction_type: string, extraction_type_group: string, extraction_type_class: string, management: string, management_group: string, payment: string, payment_type: string, water_quality: string, quality_group: string, quantity: string, quantity_group: string, source: string, source_type: string, source_class: string, waterpoint_type: string, waterpoint_type_group: string, status_group: string]>

In [ ]:
data.printSchema()

root
 |-- id: integer (nullable = true)
 |-- amount_tsh: double (nullable = true)
 |-- date_recorded: timestamp (nullable = true)
 |-- funder: string (nullable = true)
 |-- gps_height: integer (nullable = true)
 |-- installer: string (nullable = true)
 |-- longitude: double (nullable = true)
 |-- latitude: double (nullable = true)
 |-- wpt_name: string (nullable = true)
 |-- num_private: integer (nullable = true)
 |-- basin: string (nullable = true)
 |-- subvillage: string (nullable = true)
 |-- region: string (nullable = true)
 |-- region_code: string (nullable = true)
 |-- district_code: string (nullable = true)
 |-- lga: string (nullable = true)
 |-- ward: string (nullable = true)
 |-- population: integer (nullable = true)
 |-- public_meeting: boolean (nullable = true)
 |-- recorded_by: string (nullable = true)
 |-- scheme_management: string (nullable = true)
 |-- scheme_name: string (nullable = true)
 |-- permit: boolean (nullable = true)
 |-- construction_year: integer (nullable = true)
 |-- extraction_type: string (nullable = true)
 |-- extraction_type_group: string (nullable = true)
 |-- extraction_type_class: string (nullable = true)
 |-- management: string (nullable = true)
 |-- management_group: string (nullable = true)
 |-- payment: string (nullable = true)
 |-- payment_type: string (nullable = true)
 |-- water_quality: string (nullable = true)
 |-- quality_group: string (nullable = true)
 |-- quantity: string (nullable = true)
 |-- quantity_group: string (nullable = true)
 |-- source: string (nullable = true)
 |-- source_type: string (nullable = true)
 |-- source_class: string (nullable = true)
 |-- waterpoint_type: string (nullable = true)
 |-- waterpoint_type_group: string (nullable = true)
 |-- status_group: string (nullable = true)

In [ ]:
data = data.dropDuplicates(["id"])
data.count()

59400

In [ ]:
str_cols = [item[0] for item in data.dtypes if item[1].startswith('string')]
for cols in str_cols:
  data = data.withColumn(cols, trim(data[cols]))

Remove columns with null values more than a threshold.

In [ ]:
agg_row = data.select([(count(when(isnan(c) | col(c).isNull(),c))/data.count()).alias(c) for c in data.columns if c not in {'date_recorded','public_meeting','permit',}]).collect()

In [ ]:
agg_dict_list = [row.asDict() for row in agg_row]
agg_dict = agg_dict_list[0]

In [ ]:
col_null = list({i for i in agg_dict if agg_dict[i] > 0.4})
print(agg_dict)
print(col_null)
data = data.drop(*col_null)

{'id': 0.0, 'amount_tsh': 0.0, 'funder': 0.0611952861952862, 'gps_height': 0.0, 'installer': 0.061531986531986535, 'longitude': 0.0, 'latitude': 0.0, 'wpt_name': 0.0, 'num_private': 0.0, 'basin': 0.0, 'subvillage': 0.0062457912457912455, 'region': 0.0, 'region_code': 0.0, 'district_code': 0.0, 'lga': 0.0, 'ward': 0.0, 'population': 0.0, 'recorded_by': 0.0, 'scheme_management': 0.06526936026936027, 'scheme_name': 0.4741750841750842, 'construction_year': 0.0, 'extraction_type': 0.0, 'extraction_type_group': 0.0, 'extraction_type_class': 0.0, 'management': 0.0, 'management_group': 0.0, 'payment': 0.0, 'payment_type': 0.0, 'water_quality': 0.0, 'quality_group': 0.0, 'quantity': 0.0, 'quantity_group': 0.0, 'source': 0.0, 'source_type': 0.0, 'source_class': 0.0, 'waterpoint_type': 0.0, 'waterpoint_type_group': 0.0, 'status_group': 0.0}
['scheme_name']

Group, aggregate, create pivot table.

In [ ]:
data.groupBy('recorded_by').count().show()

+--------------------+-----+
|         recorded_by|count|
+--------------------+-----+
|GeoData Consultan...|59400|
+--------------------+-----+

In [ ]:
data.groupBy('water_quality').count().orderBy('count',ascending=False).show()

+------------------+-----+
|     water_quality|count|
+------------------+-----+
|              soft|50818|
|             salty| 4856|
|           unknown| 1876|
|             milky|  804|
|          coloured|  490|
|   salty abandoned|  339|
|          fluoride|  200|
|fluoride abandoned|   17|
+------------------+-----+

In [ ]:
data = data.drop('recorded_by')

In [ ]:
data.groupBy('status_group').pivot('region').sum('amount_tsh').show()

+--------------------+---------+-------------+------+---------+------+--------+------------------+-------+--------+--------+-----+--------+-------+-------+---------+--------+---------+---------+--------+------+--------+
|        status_group|   Arusha|Dar es Salaam|Dodoma|   Iringa|Kagera|  Kigoma|       Kilimanjaro|  Lindi| Manyara|    Mara|Mbeya|Morogoro| Mtwara| Mwanza|    Pwani|   Rukwa|   Ruvuma|Shinyanga| Singida|Tabora|   Tanga|
+--------------------+---------+-------------+------+---------+------+--------+------------------+-------+--------+--------+-----+--------+-------+-------+---------+--------+---------+---------+--------+------+--------+
|functional needs ...|  10280.0|          0.0|   0.0| 118400.0|   0.0|270770.0|          129248.0| 3625.0| 71315.0|   900.0|  0.0| 70005.0|36240.0|10000.0|    520.0|292980.0| 125650.0|   2200.0|  6505.0|   0.0|  4310.0|
|          functional|1125485.0|     181175.0|   0.0|5515710.0|   0.0|530725.0|         746942.25|24560.0|312745.0| 96786.0|  0.0|587642.0|52710.0|33550.0|1567765.0|776025.0|1827983.0|  53000.0|863415.0|   0.0|600931.0|
|      non functional|  73330.0|       9374.0|   0.0| 752295.0|   0.0|177510.0|248454.40000000002|15730.0| 31420.0|116700.0|  0.0|184120.0|14096.0| 4500.0| 160560.0|416830.0| 414669.0|   1000.0| 74510.2|   0.0|123237.0|
+--------------------+---------+-------------+------+---------+------+--------+------------------+-------+--------+--------+-----+--------+-------+-------+---------+--------+---------+---------+--------+------+--------+

Convert categories with low frequency to Others, impute missing values.

In [ ]:
print(str_cols)

['funder', 'installer', 'wpt_name', 'basin', 'subvillage', 'region', 'region_code', 'district_code', 'lga', 'ward', 'recorded_by', 'scheme_management', 'scheme_name', 'extraction_type', 'extraction_type_group', 'extraction_type_class', 'management', 'management_group', 'payment', 'payment_type', 'water_quality', 'quality_group', 'quantity', 'quantity_group', 'source', 'source_type', 'source_class', 'waterpoint_type', 'waterpoint_type_group', 'status_group']

In [ ]:
for column in str_cols[:2]:
  print(data.groupBy(column).count().orderBy('count', ascending=False).show())
  values_cat = data.groupBy(column).count().collect()
  lessthan = [x[0] for x in values_cat if x[1] < 1000]
  data = data.withColumn(column, when(col(column).isin(lessthan), 'Others').otherwise(col(column)))
  data.groupBy(column).count().orderBy('count',ascending=False).show()

+--------------------+-----+
|              funder|count|
+--------------------+-----+
|Government Of Tan...| 9084|
|                null| 3635|
|              Danida| 3114|
|              Hesawa| 2202|
|               Rwssp| 1374|
|          World Bank| 1349|
|                Kkkt| 1287|
|        World Vision| 1246|
|              Unicef| 1057|
|               Tasaf|  877|
|    District Council|  843|
|                 Dhv|  829|
|  Private Individual|  826|
|                Dwsp|  811|
|                   0|  777|
|               Norad|  765|
|     Germany Republi|  610|
|                Tcrs|  602|
|   Ministry Of Water|  590|
|               Water|  583|
+--------------------+-----+
only showing top 20 rows

None
+--------------------+-----+
|              funder|count|
+--------------------+-----+
|              Others|35052|
|Government Of Tan...| 9084|
|                null| 3635|
|              Danida| 3114|
|              Hesawa| 2202|
|               Rwssp| 1374|
|          World Bank| 1349|
|                Kkkt| 1287|
|        World Vision| 1246|
|              Unicef| 1057|
+--------------------+-----+

+------------------+-----+
|         installer|count|
+------------------+-----+
|               DWE|17402|
|              null| 3655|
|        Government| 1825|
|               RWE| 1206|
|             Commu| 1060|
|            DANIDA| 1050|
|              KKKT|  898|
|            Hesawa|  840|
|                 0|  777|
|              TCRS|  707|
|Central government|  622|
|               CES|  610|
|         Community|  553|
|             DANID|  552|
|  District Council|  551|
|            HESAWA|  539|
|               LGA|  408|
|      World vision|  408|
|            WEDECO|  397|
|             TASAF|  396|
+------------------+-----+
only showing top 20 rows

None
+----------+-----+
| installer|count|
+----------+-----+
|    Others|33202|
|       DWE|17402|
|      null| 3655|
|Government| 1825|
|       RWE| 1206|
|     Commu| 1060|
|    DANIDA| 1050|
+----------+-----+